@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: lightblue url("https://i.postimg.cc/xdcPrqzb/postits3.png") no-repeat fixed center;
}


button {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8), 0 6px 20px 0 rgba(0,0,0,0.19);
  

}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.todo.completed {
  /* background-color: #d17d7c; */
  text-decoration: line-through;
}